@font-face{
    font-family: "quantify";
    src:url(quantify.ttf);
}
body{
    text-align:center;
    background-color:darkgrey;
    font-family:'Helvetica'
}

button{
    font-family:'Helvetica';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color:blue;
    border:2px solid darkblue;
    border-radius:4px;
    padding:4px;
    margin: 4px;
    display:block;
    font-size:20px;
}
#edit-popup{
    width:450px;
}
.floating-box{
    position: fixed;
    top: 50%;
    left: 50%;
    padding:30px;
    display: none;
    border-radius: 10px;
    border:4px solid rgb(58, 58, 58);

    background-color:rgb(98, 98, 98);
    transform: translate(-50%,-50%);
}
#options-container{
    position:relative;
    display:block;
}
.popup-text{
    color:white;
    position:relative;
    transform: translateX(-10%);
}
.tab-buttons{
    font-size:25px;
    border-radius:4px
}
.options{
    display:inline;
    position:relative;
    transform: none;
    left:20px;
}
#main-container{
    display:flex;
    gap: 40px;
}
#text-container{
    position:relative;
    display:block;
    gap:20px;
    left:50px;
}
#addtab{
    position:fixed;
    left: 90%;
    top: 85%;
    width: 40px;
    height: 40px;
}
#confirm-delete{
    display: none;
}
#delete{
    left:300px;
    top:0px;
}
h4{
    color: white;
}
h1{
    font-family:'Garamond';
    font-size:50px;
    user-select:none;
    color: darkgrey;
    -webkit-text-stroke: 4px rgb(58,58,58);
    
}
p{
    color:white;
}
#loginbox{
    display:block;
}
#submit-password{
    display: grid;
}
#tablist{
    background-color:lightgray;
    border-radius:4px;
    width:50%;
    text-align:center;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    
}
#select{
    user-select:all;
}
#history-list{
    height:200px;
    width:200px;
    overflow:auto;
}
#show-history{
    transform: translateX(-50%);
}
/*#show-history:hover{
    background-color:darkblue;
    border:2px solid blue;
}*/
